### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
G3_ProjectSwp/nbproject/build-impl.xml
G3_ProjectSwp/nbproject/genfiles.properties
G3_ProjectSwp/nbproject/project.properties
G3_ProjectSwp/nbproject/project.xml
G3_ProjectSwp/web/WEB-INF/web.xml
G3_ProjectSwp/src/java/DAL/DBContext.java
